body {
  min-width: none;
  min-height: nonepx;
  background-color: rgb(255, 255, 255);
  font-family: Helvetica;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container-5 h4 p {
  margin-bottom: 1em;
}

.address-phone-email {
  display: inline-block;
  float: left;
  clear: both;
  width: 83.3391466108%;
  min-width: none;
  min-height: nonepx;
  margin-top: 26px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(194, 194, 194);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.bar {
  display: block;
  float: left;
  width: 111px;
  min-width: none;
  height: auto;
  min-height: nonepx;
  margin-left: 17px;
  overflow: hidden;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.beer-glass {
  float: left;
  width: 128px;
  min-width: none;
  height: 179px;
  min-height: nonepx;
  margin-top: 13px;
  margin-left: 14.19978%;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.body .container {
  clear: both;
  width: 100%;
  height: 569px;
}

.contact,
.home {
  display: inline-block;
  float: right;
  min-width: none;
  min-height: nonepx;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container {
  float: left;
}

.container .container {
  width: 97.4692860782%;
  min-width: none;
  height: 131px;
  min-height: nonepx;
  margin-left: 2.51942%;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container .container-headings {
  width: 100.0861440593%;
  height: 71px;
  margin-left: -0.08515%;
}

.container .heading {
  width: 50.255118945%;
  font-size: 1.875em;
  color: rgb(255, 255, 255);
}

.container .icon-facebook {
  float: left;
  clear: both;
  width: 14.493574138%;
  margin-top: 15px;
}

.container .sub-headings {
  width: 36.0479756146%;
  font-size: 0.75em;
  color: rgb(194, 194, 194);
}

.container-headings {
  float: left;
  min-width: none;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.copyright {
  display: inline-block;
  float: left;
  clear: both;
  width: 76.5489364521%;
  min-width: none;
  min-height: nonepx;
  margin-top: 122px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(194, 194, 194);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.event-day {
  display: inline-block;
  float: left;
  clear: both;
  padding-top: 3px;
  padding-right: 29px;
  padding-bottom: 3px;
  padding-left: 29px;
  background-color: rgb(255, 255, 255);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.event-month {
  display: inline-block;
  float: left;
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  background-color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.footer-background {
  position: relative;
  float: left;
  clear: both;
  z-index: 0;
  width: 100%;
  min-width: none;
  height: 246px;
  min-height: nonepx;
  margin-top: 63px;
  background-color: rgb(75, 75, 75);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.footer-heading_contact {
  display: inline-block;
  float: left;
  width: 33.1124287873%;
  min-width: none;
  min-height: nonepx;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.footer-heading_findoutmore {
  display: inline-block;
  float: left;
  width: 111.317428605%;
  min-width: none;
  min-height: nonepx;
  margin-left: 0.14103%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.footer-nav {
  float: left;
  clear: both;
  width: 108.3088494535%;
  min-width: none;
  height: 97px;
  min-height: nonepx;
  margin-top: 25px;
  margin-left: 0.14103%;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.footer-nav_contact {
  display: inline-block;
  float: left;
  clear: both;
  width: 83.3488372093%;
  min-width: none;
  min-height: nonepx;
  margin-top: 2px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(194, 194, 194);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.footer-nav_functions {
  display: inline-block;
  float: left;
  clear: both;
  width: 73.8232558139%;
  min-width: none;
  min-height: nonepx;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(194, 194, 194);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.footer-nav_home {
  display: inline-block;
  float: left;
  width: 45.2465116279%;
  min-width: none;
  min-height: nonepx;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(194, 194, 194);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.footer-nav_menu {
  display: inline-block;
  float: left;
  clear: both;
  width: 42.865116279%;
  min-width: none;
  min-height: nonepx;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(194, 194, 194);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.footer-nav_sportsbar {
  display: inline-block;
  float: left;
  clear: both;
  width: 79.776744186%;
  min-width: none;
  min-height: nonepx;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(194, 194, 194);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.fork-knife {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 27;
  width: 152px;
  min-width: none;
  min-height: nonepx;
  margin-right: auto;
  margin-left: auto;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.fork-knife .menu {
  float: left;
}

.function-rooms {
  display: inline-block;
  float: left;
  clear: both;
  width: 157px;
  min-width: none;
  min-height: nonepx;
  margin-top: 27px;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-size: 1.563em;
  font-weight: 700;
  line-height: 1.08;
  text-align: center;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.functions {
  float: right;
  min-width: none;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.heading {
  display: inline-block;
  float: left;
  min-width: none;
  min-height: nonepx;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 400;
  line-height: 1.38;
  text-transform: uppercase;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.icon-facebook {
  display: block;
  min-width: none;
  height: auto;
  min-height: nonepx;
  overflow: hidden;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.icons-food_drink {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  min-width: none;
  height: 285px;
  min-height: nonepx;
  margin-top: 36px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.main-background {
  display: block;
  position: relative;
  float: left;
  z-index: 36;
  width: 100%;
  min-width: none;
  height: auto;
  min-height: nonepx;
  margin-top: -1222px;
  overflow: hidden;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.menu {
  min-width: none;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.month-year {
  position: relative;
  float: left;
  width: 6.3571428571%;
  height: 56px;
  margin-top: -298px;
}

.nav-contact {
  float: left;
  width: 13.6363636363%;
  min-width: none;
  height: 22px;
  min-height: nonepx;
  margin-left: 28px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.nav-functions {
  float: left;
  width: 17.5%;
  min-width: none;
  height: 22px;
  min-height: nonepx;
  margin-left: 27px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.nav-functions .functions {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.nav-home {
  float: left;
  width: 10.2272727272%;
  min-width: none;
  height: 22px;
  min-height: nonepx;
  margin-left: 12px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.nav-menu {
  float: left;
  width: 9.5454545454%;
  min-width: none;
  height: 22px;
  min-height: nonepx;
  margin-left: 26px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.nav-menu .menu {
  display: inline-block;
  float: right;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.nav-sports_bar {
  float: left;
  width: 19.0909090909%;
  min-width: none;
  height: 22px;
  min-height: nonepx;
  margin-left: 28px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.navigation-menu {
  position: relative;
  float: left;
  clear: both;
  z-index: 47;
  width: 45.738045738%;
  min-width: none;
  height: 22px;
  min-height: nonepx;
  margin-top: -15px;
  margin-left: 50.69978%;
  padding-right: 2px;
  padding-left: 2px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.phone-number {
  display: inline-block;
  position: relative;
  float: right;
  z-index: 53;
  min-width: none;
  min-height: nonepx;
  margin-top: 23px;
  margin-right: 85px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.placeholder {
  position: relative;
  float: left;
  height: 298px;
  background-color: rgb(222, 222, 222);
}

.social-media {
  display: block;
  float: right;
  width: 40px;
  min-width: none;
  height: 40px;
  min-height: nonepx;
  margin-top: -32px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.social-media .icon-facebook {
  float: right;
  width: 40px;
  margin-right: 23px;
}

.sponsor {
  position: relative;
  float: left;
  clear: both;
  z-index: 21;
  width: 100%;
  min-width: none;
  height: 569px;
  min-height: nonepx;
  margin-top: -84px;
  background-color: rgb(88, 22, 54);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.sports-bar {
  display: inline-block;
  float: left;
  clear: both;
  width: 128px;
  min-width: none;
  min-height: nonepx;
  margin-top: 18px;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-size: 1.563em;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.sports_bar {
  display: inline-block;
  float: right;
  width: 84px;
  min-width: none;
  min-height: nonepx;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.sub-headings {
  display: inline-block;
  float: left;
  clear: both;
  min-width: none;
  min-height: nonepx;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 400;
  line-height: 1.38;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.text {
  display: inline-block;
  position: relative;
  float: left;
  width: 20.4285714285%;
  padding-top: 15px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.welcome {
  float: left;
  width: 100%;
  min-width: none;
  height: 224px;
  min-height: nonepx;
  margin-top: 737px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.welcome-heading {
  display: inline-block;
  float: left;
  width: 100%;
  min-width: none;
  min-height: nonepx;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-size: 1.75em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.whats_happening-heading {
  display: inline-block;
  position: relative;
  float: left;
  z-index: 21;
  width: 100%;
  margin-top: 6px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 1.75em;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.wine-glasses {
  float: right;
  width: 157px;
  min-width: none;
  height: 209px;
  min-height: nonepx;
  margin-top: 12px;
  margin-right: 14.09933%;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.wine-glasses .functions {
  display: block;
  width: 118px;
  height: auto;
  margin-right: 18px;
  overflow: hidden;
}

.welcome ._text {
  display: inline-block;
  float: left;
  clear: both;
  width: 100%;
  min-width: none;
  min-height: nonepx;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.body-1 {
  position: relative;
  float: left;
  z-index: 35;
  width: 100%;
  min-width: none;
  height: 1383px;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container-2 {
  width: 41.978293798%;
  min-width: none;
  height: 191px;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container-3 {
  width: 11.8286293964%;
  min-width: none;
  height: 138px;
  min-height: nonepx;
  margin-left: 0.02026%;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container-4 {
  width: 24.5466294242%;
  min-width: none;
  height: 178px;
  min-height: nonepx;
  margin-left: 16.31695%;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container-headings-1 {
  clear: both;
  width: 40.8523908523%;
  height: 91px;
  margin-top: 1px;
  margin-left: 51px;
}

.heading-1 {
  width: 425px;
  font-size: 3.125em;
  color: rgb(0, 0, 0);
}

.menu-1 {
  display: block;
  width: 152px;
  height: auto;
  overflow: hidden;
}

.menu-2 {
  display: inline-block;
  clear: both;
  margin-top: 9px;
  margin-left: 47px;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-size: 1.563em;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.month-year-1 {
  clear: both;
  z-index: 64;
  margin-left: 10%;
}

.month-year-2 {
  z-index: 67;
  margin-left: 39.79688%;
}

.month-year-3 {
  z-index: 70;
  margin-left: 69.59821%;
}

.placeholder-1 {
  z-index: 56;
  width: 20.3999999999%;
  margin-top: 26px;
  margin-left: 10%;
}

.placeholder-2 {
  z-index: 57;
  width: 20.3995535714%;
  margin-top: -298px;
  margin-left: 39.79688%;
}

.placeholder-3 {
  z-index: 58;
  width: 20.3995535714%;
  margin-top: -298px;
  margin-left: 69.59821%;
}

.sub-headings-1 {
  width: 100%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-1 {
  z-index: 59;
  margin-left: 10%;
}

.text-2 {
  z-index: 60;
  margin-left: 9.36942%;
}

.text-3 {
  z-index: 61;
  margin-left: 9.3727699999%;
}

._container-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 54;
  width: 100%;
  min-width: none;
  height: 161px;
  min-height: nonepx;
  margin-top: -1383px;
  background-color: rgba(194, 194, 194, 0.47);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._container-3 {
  position: relative;
  float: left;
  clear: both;
  z-index: 19;
  width: 93.6662946428%;
  min-width: none;
  height: 210px;
  min-height: nonepx;
  margin-top: -221px;
  margin-left: 3.25335%;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

@media(max-width: 1200px) {
  .body .container {
    width: 104.5807291666%;
  }

  .container .container {
    margin-left: 2.52025%;
  }

  .container .container-headings {
    margin-left: -0.0861%;
  }

  .container .copyright {
    display: block;
    width: 104.739884393%;
  }

  .container .footer-heading_findoutmore,
  .container .footer-nav {
    margin-left: 0.15278%;
  }

  .beer-glass .bar,
  .container .icon-facebook,
  .fork-knife .menu-1,
  .social-media .icon-facebook,
  .wine-glasses .functions {
    height: auto;
  }

  .container .sponsor {
    position: relative;
    z-index: 21;
    width: 95.6175298804%;
    margin-top: -115px;
  }

  .container .whats_happening-heading {
    position: relative;
    z-index: 21;
    width: 95.6175298804%;
    margin-top: 37px;
    margin-left: 4.37884%;
  }

  .footer-background {
    position: relative;
    z-index: 0;
    margin-top: -234px;
  }

  .icons-food_drink .beer-glass {
    margin-left: 14.19922%;
  }

  .icons-food_drink .fork-knife {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .icons-food_drink .wine-glasses {
    margin-right: 14.09896%;
  }

  .main-background {
    position: relative;
    z-index: 36;
    height: auto;
  }

  .month-year {
    position: relative;
    width: 9.1080729166%;
    height: 42px;
  }

  .month-year .event-month {
    margin-left: -0.25733%;
  }

  .placeholder {
    position: relative;
  }

  .text {
    position: relative;
  }

  .body-1 {
    position: relative;
    z-index: 35;
  }

  .month-year-1 {
    z-index: 64;
    margin-top: -282px;
    margin-left: 10.66667%;
  }

  .month-year-2 {
    z-index: 67;
    margin-top: -312px;
    margin-left: 46.42969%;
  }

  .month-year-3 {
    z-index: 70;
    margin-top: -312px;
    margin-left: 81.19792%;
  }

  .placeholder-1 {
    z-index: 56;
    margin-top: 40px;
  }

  .placeholder-2 {
    z-index: 57;
  }

  .placeholder-3 {
    z-index: 58;
    width: 20.3984375%;
    margin-top: -312px;
    margin-left: 69.59635%;
  }

  .text-1 {
    z-index: 59;
  }

  .text-2 {
    z-index: 60;
    margin-top: -14px;
    margin-left: 9.36849%;
  }

  .text-3 {
    z-index: 61;
    margin-top: -14px;
    margin-left: 9.3737%;
  }

  ._container .container-3 {
    margin-left: 0.53242%;
  }

  ._container .container-4 {
    margin-left: 17.11104%;
  }

  ._container .navigation-menu-1 {
    position: relative;
    z-index: 47;
    margin-left: 50.6992199999%;
  }

  ._container .phone-number-1 {
    position: relative;
    z-index: 53;
  }

  ._container .social-media-1 {
    position: relative;
    z-index: 52;
  }

  ._container-2 {
    position: relative;
    z-index: 54;
  }

  ._container-3 {
    position: relative;
    z-index: 19;
    width: 93.6666666666%;
    margin-top: -226px;
    margin-left: 2.66146%;
  }
}

@media(max-width: 1100px) {
  body {
    font-size: 1em;
  }

  .body .container {
    width: 105%;
  }

  .container .container {
    margin-left: 2.5268799999%;
  }

  .container .container-headings {
    margin-left: -0.08309%;
  }

  .container .copyright {
    display: inline-block;
    margin-top: 114px;
  }

  .container .footer-heading_contact {
    width: 124.9492900608%;
  }

  .container .footer-heading_findoutmore {
    margin-left: -0.3462%;
  }

  .container .footer-nav {
    margin-top: 17px;
    margin-left: -0.3462%;
  }

  .container .heading {
    width: 66.0722665415%;
  }

  .container .icon-facebook {
    height: auto;
    margin-top: 42px;
  }

  .container .sponsor {
    position: relative;
    z-index: 21;
    width: 95.238095238%;
  }

  .container .sub-headings {
    width: 51.0558423275%;
  }

  .container .whats_happening-heading {
    position: relative;
    z-index: 21;
    width: 95.238095238%;
    margin-left: 4.76055%;
  }

  .footer-background {
    position: relative;
    z-index: 0;
    margin-top: -212px;
  }

  .icons-food_drink .beer-glass {
    margin-left: 14.18892%;
  }

  .icons-food_drink .fork-knife {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .icons-food_drink .wine-glasses {
    margin-right: 14.09517%;
  }

  .main-background {
    position: relative;
    z-index: 36;
    height: auto;
  }

  .month-year {
    position: relative;
    width: 10.9005681818%;
  }

  .month-year .event-month {
    margin-left: -0.76883%;
  }

  .placeholder {
    position: relative;
  }

  .beer-glass .bar,
  .fork-knife .menu-1,
  .social-media .icon-facebook,
  .wine-glasses .functions {
    height: auto;
  }

  .text {
    position: relative;
  }

  .body-1 {
    position: relative;
    z-index: 35;
  }

  .month-year-1 {
    z-index: 64;
    margin-left: 10.72017%;
  }

  .month-year-2 {
    z-index: 67;
    margin-left: 50.65057%;
  }

  .month-year-3 {
    z-index: 70;
    margin-left: 88.57955%;
  }

  .placeholder-1 {
    z-index: 56;
  }

  .placeholder-2 {
    z-index: 57;
  }

  .placeholder-3 {
    z-index: 58;
    width: 20.3991477272%;
    margin-left: 69.59659%;
  }

  .text-1 {
    z-index: 59;
  }

  .text-2 {
    z-index: 60;
    margin-left: 9.36932%;
  }

  .text-3 {
    z-index: 61;
    margin-left: 9.375%;
  }

  ._container .container-3 {
    margin-left: 1.38154%;
  }

  ._container .container-4 {
    margin-left: 15.73225%;
  }

  ._container .navigation-menu-1 {
    position: relative;
    z-index: 47;
    margin-left: 50.69318%;
  }

  ._container .phone-number-1 {
    position: relative;
    z-index: 53;
  }

  ._container .social-media-1 {
    position: relative;
    z-index: 52;
  }

  ._container-2 {
    position: relative;
    z-index: 54;
  }

  ._container-3 {
    position: relative;
    z-index: 19;
    width: 93.6661931818%;
    margin-top: -224px;
    margin-left: 3.1732999999%;
  }
}

@media(max-width: 1000px) {
  .body .container {
    width: 105.5%;
  }

  .body .icons-food_drink {
    margin-top: 45px;
  }

  .body .welcome {
    margin-top: 572px;
  }

  .container .container {
    margin-top: -138px;
    margin-left: 40.79788%;
  }

  .container .container-headings {
    margin-left: -0.08345%;
  }

  .container .copyright {
    margin-top: 95px;
  }

  .container .footer-heading_findoutmore,
  .container .footer-nav {
    margin-left: -0.40903%;
  }

  .container .icon-facebook {
    clear: none;
    height: auto;
    margin-top: 23px;
    margin-left: 38.26968%;
  }

  .container .sponsor {
    position: relative;
    z-index: 21;
    width: 94.7867298578%;
    margin-top: -271px;
  }

  .container .whats_happening-heading {
    position: relative;
    z-index: 21;
    width: 94.7867298578%;
    margin-top: 193px;
    margin-left: 5.21327%;
  }

  .footer-background {
    position: relative;
    z-index: 0;
    height: 259px;
    margin-top: -346px;
  }

  .icons-food_drink .beer-glass {
    margin-left: 14.2%;
  }

  .icons-food_drink .fork-knife {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .icons-food_drink .wine-glasses {
    margin-right: 14.1%;
  }

  .main-background {
    position: relative;
    z-index: 36;
    height: auto;
  }

  .month-year {
    position: relative;
    width: 13.0578124999%;
  }

  .month-year .event-month {
    margin-left: -0.43078%;
  }

  .placeholder {
    position: relative;
  }

  .beer-glass .bar,
  .fork-knife .menu-1,
  .social-media .icon-facebook,
  .wine-glasses .functions {
    height: auto;
  }

  .text {
    position: relative;
  }

  .body-1 {
    position: relative;
    z-index: 35;
  }

  .month-year-1 {
    z-index: 64;
    margin-left: 10.7%;
  }

  .month-year-2 {
    z-index: 67;
    margin-left: 55.71563%;
  }

  .month-year-3 {
    clear: both;
    z-index: 70;
    margin-left: 97.4375%;
  }

  .placeholder-1 {
    z-index: 56;
  }

  .placeholder-2 {
    z-index: 57;
  }

  .placeholder-3 {
    z-index: 58;
    width: 20.3984375%;
    margin-left: 69.59688%;
  }

  .text-1 {
    z-index: 59;
  }

  .text-2 {
    z-index: 60;
    margin-left: 9.36875%;
  }

  .text-3 {
    z-index: 61;
  }

  ._container .container-3 {
    margin-left: 1.38625%;
  }

  ._container .container-4 {
    margin-top: 138px;
    margin-left: 7.05969%;
  }

  ._container .navigation-menu-1 {
    position: relative;
    z-index: 47;
    margin-left: 50.7%;
  }

  ._container .phone-number-1 {
    position: relative;
    z-index: 53;
  }

  ._container .social-media-1 {
    position: relative;
    z-index: 52;
  }

  ._container-2 {
    position: relative;
    z-index: 54;
  }

  ._container-3 {
    position: relative;
    clear: none;
    z-index: 19;
    width: 93.6656249999%;
    margin-top: -297px;
    margin-left: 5.1%;
  }
}

@media(max-width: 900px) {
  body {
    font-size: 1em;
  }

  .body .container {
    width: 106.109375%;
  }

  .container .address-phone-email {
    margin-top: -121px;
    margin-left: 47.10117%;
  }

  .container .container {
    position: relative;
    z-index: 12;
    margin-top: 0;
    margin-left: 2.52735%;
  }

  .container .container-headings {
    margin-left: -0.08382%;
  }

  .container .copyright {
    width: 385px;
    margin-top: 144px;
  }

  .container .footer-heading_contact {
    margin-top: -167px;
    margin-left: 47.10117%;
  }

  .container .footer-heading_findoutmore {
    width: 146.1598623494%;
    margin-left: -0.26247%;
  }

  .container .footer-nav {
    width: 110.0840336134%;
    height: 115px;
    margin-top: 23px;
    margin-left: 0;
  }

  .container .icon-facebook {
    position: relative;
    clear: both;
    z-index: 9;
    height: auto;
    margin-top: -131px;
    margin-left: 48.43455%;
  }

  .container .sponsor {
    position: relative;
    z-index: 21;
    width: 94.2408376963%;
  }

  .container .whats_happening-heading {
    position: relative;
    z-index: 21;
    width: 94.2408376963%;
    margin-left: 5.75598%;
  }

  .footer-background {
    position: relative;
    z-index: 0;
    height: 268px;
    margin-top: -302px;
  }

  .icons-food_drink .beer-glass {
    margin-left: 14.19792%;
  }

  .icons-food_drink .fork-knife {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .icons-food_drink .wine-glasses {
    margin-right: 14.09896%;
  }

  .main-background {
    position: relative;
    z-index: 36;
    height: auto;
  }

  .month-year {
    position: relative;
    width: 15.6927083333%;
    height: 71px;
  }

  .month-year .event-month {
    margin-top: 43px;
    margin-left: -0.13276%;
  }

  .navigation-menu .nav-contact {
    margin-left: 18px;
  }

  .placeholder {
    position: relative;
  }

  .beer-glass .bar,
  .fork-knife .menu-1,
  .social-media .icon-facebook,
  .wine-glasses .functions {
    height: auto;
  }

  .text {
    position: relative;
  }

  .body-1 {
    position: relative;
    z-index: 35;
    height: 1454px;
  }

  .month-year-1 {
    z-index: 64;
    margin-top: -325px;
    margin-left: 10.66667%;
  }

  .month-year-2 {
    z-index: 67;
    margin-top: -369px;
    margin-left: 61.90625%;
  }

  .month-year-3 {
    z-index: 70;
    margin-top: -369px;
    margin-left: 108.26389%;
  }

  .placeholder-1 {
    z-index: 56;
    margin-top: 26px;
  }

  .placeholder-2 {
    z-index: 57;
  }

  .placeholder-3 {
    z-index: 58;
    width: 20.3993055555%;
    margin-top: -369px;
    margin-left: 69.59549%;
  }

  .text-1 {
    z-index: 59;
  }

  .text-2 {
    z-index: 60;
    margin-top: -71px;
    margin-left: 9.36806%;
  }

  .text-3 {
    z-index: 61;
    margin-top: -71px;
    margin-left: 9.37674%;
  }

  ._container .container-3 {
    width: 14.1112819847%;
    height: 167px;
    margin-left: 1.35%;
  }

  ._container .container-4 {
    margin-top: 167px;
    margin-left: 2.57778%;
  }

  ._container .navigation-menu-1 {
    position: relative;
    z-index: 47;
    width: 42.74%;
    margin-top: -22px;
    margin-left: 50.69792%;
    padding-right: 3px;
    padding-left: 3px;
  }

  ._container .phone-number-1 {
    position: relative;
    z-index: 53;
  }

  ._container .social-media-1 {
    position: relative;
    z-index: 52;
    margin-right: 10px;
  }

  ._container-2 {
    position: relative;
    z-index: 54;
  }

  ._container-3 {
    position: relative;
    z-index: 19;
    width: 93.75%;
    height: 243px;
    margin-top: -277px;
    margin-left: 2.98785%;
  }
}

@media(max-width: 850px) {
  .body .container {
    width: 106.4705882352%;
  }

  .body .icons-food_drink {
    margin-top: 88px;
  }

  .body .welcome {
    margin-top: 600px;
  }

  .container .address-phone-email {
    width: 201px;
    margin-top: 26px;
    margin-left: -1px;
  }

  .container .container {
    position: relative;
    z-index: 12;
    width: 97.7060187035%;
    height: 149px;
    margin-left: 1.24621%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .container .container-headings {
    margin-left: -0.08416%;
  }

  .container .copyright {
    margin-top: 103px;
  }

  .container .footer-heading_contact {
    margin-top: 0;
    margin-left: 0;
  }

  .container .footer-heading_findoutmore {
    width: 149.453461411%;
    margin-left: -0.36349%;
  }

  .container .footer-nav {
    width: 98.5756873136%;
    margin-top: 24px;
    margin-left: 0.55197%;
  }

  .container .icon-facebook {
    position: relative;
    z-index: 9;
    height: auto;
    margin-top: -3px;
    margin-left: 0;
  }

  .container .sponsor {
    position: relative;
    z-index: 21;
    width: 93.9226519337%;
    margin-top: -200px;
  }

  .container .whats_happening-heading {
    position: relative;
    z-index: 21;
    width: 93.9226519337%;
    margin-top: 122px;
    margin-left: 6.07735%;
  }

  .footer-background {
    position: relative;
    z-index: 0;
    margin-top: -209px;
  }

  .footer-nav .footer-nav_contact {
    width: 149.6191226687%;
    margin-top: 0;
    margin-left: -0.01366%;
  }

  .footer-nav .footer-nav_sportsbar {
    width: 139.5324402416%;
    margin-left: -0.01366%;
  }

  .icons-food_drink .beer-glass {
    margin-left: 14.19853%;
  }

  .icons-food_drink .fork-knife {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .icons-food_drink .wine-glasses {
    margin-right: 14.09743%;
  }

  .main-background {
    position: relative;
    z-index: 36;
    height: auto;
  }

  .month-year {
    position: relative;
    width: 17.2389705882%;
  }

  .month-year .event-month {
    margin-left: -0.36259%;
  }

  .nav-contact .contact {
    margin-right: -20.2946%;
  }

  .navigation-menu .nav-contact {
    width: 14.919014509%;
    margin-left: 7px;
  }

  .placeholder {
    position: relative;
  }

  .beer-glass .bar,
  .fork-knife .menu-1,
  .social-media .icon-facebook,
  .wine-glasses .functions {
    height: auto;
  }

  .text {
    position: relative;
  }

  .body-1 {
    position: relative;
    z-index: 35;
  }

  .month-year-1 {
    z-index: 64;
    margin-left: 10.7022099999%;
  }

  .month-year-2 {
    z-index: 67;
    margin-left: 65.5459599999%;
  }

  .month-year-3 {
    z-index: 70;
    margin-left: 114.62868%;
  }

  .placeholder-1 {
    z-index: 56;
  }

  .placeholder-2 {
    z-index: 57;
    margin-left: 39.79596%;
  }

  .placeholder-3 {
    z-index: 58;
    width: 20.3988970588%;
    margin-left: 69.59375%;
  }

  .text-1 {
    z-index: 59;
  }

  .text-2 {
    z-index: 60;
    margin-left: 9.36949%;
  }

  .text-3 {
    z-index: 61;
    margin-left: 9.36949%;
  }

  ._container .container-2 {
    width: 41.936749588%;
    height: 95px;
    margin-left: -0.04118%;
  }

  ._container .container-3 {
    width: 15.8204504433%;
    height: 156px;
    margin-left: 1.3745099999%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  ._container .container-4 {
    margin-top: 0;
    margin-left: 16.34706%;
  }

  ._container .navigation-menu-1 {
    position: relative;
    z-index: 47;
    width: 45.8823529411%;
    height: auto;
    margin-left: 53.05699%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  ._container .phone-number-1 {
    position: relative;
    z-index: 53;
  }

  ._container .social-media-1 {
    position: relative;
    z-index: 52;
    margin-right: 0;
  }

  ._container-2 {
    position: relative;
    z-index: 54;
  }

  ._container-3 {
    position: relative;
    clear: both;
    z-index: 19;
    margin-top: -200px;
    margin-left: 5.09743%;
  }
}

@media(max-width: 768px) {
  body {
    font-size: 1em;
  }

  .body .container {
    width: 107.1614583333%;
  }

  .container .address-phone-email {
    margin-top: -104px;
    margin-left: 382px;
  }

  .container .container {
    position: relative;
    z-index: 12;
    margin-left: 1.25542%;
  }

  .container .container-headings {
    margin-left: -0.0828%;
  }

  .container .copyright {
    display: block;
    float: none;
    clear: none;
    margin-top: 226px;
    margin-right: auto;
    margin-left: auto;
  }

  .container .footer-heading_contact {
    margin-top: -154px;
    margin-left: 231.6204%;
  }

  .container .footer-heading_findoutmore {
    margin-left: -0.37594%;
  }

  .container .footer-nav {
    margin-left: 0.52632%;
  }

  .container .icon-facebook {
    position: relative;
    z-index: 9;
    height: auto;
    margin-top: -128px;
    margin-left: 220.74971%;
  }

  .container .sponsor {
    position: relative;
    z-index: 21;
    width: 93.3171324422%;
    margin-top: -313px;
  }

  .container .whats_happening-heading {
    position: relative;
    z-index: 21;
    width: 93.3171324422%;
    margin-top: 235px;
    margin-left: 6.68287%;
  }

  .footer-background {
    position: relative;
    z-index: 0;
    margin-top: -294px;
  }

  .footer-nav .footer-nav_contact,
  .footer-nav .footer-nav_sportsbar {
    margin-left: -0.01526%;
  }

  .icons-food_drink .beer-glass {
    margin-left: 14.19678%;
  }

  .icons-food_drink .fork-knife {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .icons-food_drink .wine-glasses {
    margin-right: 14.09709%;
  }

  .main-background {
    position: relative;
    z-index: 36;
    height: auto;
    margin-top: -1180px;
  }

  .month-year {
    position: relative;
    width: 20.21484375%;
    height: 42px;
  }

  .month-year .event-month {
    margin-top: 0;
    margin-left: -0.15097%;
  }

  .nav-contact .contact {
    margin-top: -1px;
    margin-right: -20.29586%;
  }

  .navigation-menu .nav-contact {
    margin-top: 1px;
    margin-left: 3px;
  }

  .placeholder {
    position: relative;
  }

  .beer-glass .bar,
  .fork-knife .menu-1,
  .social-media .icon-facebook,
  .wine-glasses .functions {
    height: auto;
  }

  .text {
    position: relative;
  }

  .body-1 {
    position: relative;
    z-index: 35;
    margin-top: -113px;
  }

  .month-year-1 {
    z-index: 64;
    margin-top: -282px;
    margin-left: 10.67505%;
  }

  .month-year-2 {
    z-index: 67;
    margin-top: -312px;
    margin-left: 72.54639%;
  }

  .month-year-3 {
    z-index: 70;
    margin-top: -312px;
    margin-left: 126.87174%;
  }

  .placeholder-1 {
    z-index: 56;
    margin-top: 82px;
    margin-left: 9.99756%;
  }

  .placeholder-2 {
    z-index: 57;
    margin-left: 39.79492%;
  }

  .placeholder-3 {
    z-index: 58;
    width: 20.3979492187%;
    margin-top: -312px;
    margin-left: 69.59432%;
  }

  .text-1 {
    z-index: 59;
    margin-left: 9.99756%;
  }

  .text-2 {
    z-index: 60;
    margin-top: -14px;
    margin-left: 9.3689%;
  }

  .text-3 {
    z-index: 61;
    margin-top: -14px;
    margin-left: 9.375%;
  }

  ._container .container-2 {
    position: relative;
    z-index: 18;
    margin-left: 0;
  }

  ._container .container-3 {
    margin-left: 1.37804%;
  }

  ._container .container-4 {
    clear: both;
    margin-left: 16.34766%;
  }

  ._container .navigation-menu-1 {
    position: relative;
    z-index: 47;
    width: 46.875%;
    margin-left: 51.68457%;
  }

  ._container .phone-number-1 {
    position: relative;
    z-index: 53;
  }

  ._container .social-media-1 {
    position: relative;
    z-index: 52;
  }

  ._container-2 {
    position: relative;
    z-index: 54;
    margin-top: -1341px;
  }

  ._container-3 {
    position: relative;
    clear: none;
    z-index: 19;
    margin-top: -278px;
    margin-left: 5.07406%;
  }
}

@media(max-width: 480px) {
  .body .container {
    position: relative;
    z-index: 22;
    width: 111.455078125%;
    height: 401px;
    margin-top: -227px;
  }

  .body .icons-food_drink {
    position: relative;
    z-index: 31;
    height: 714px;
    margin-top: 3px;
  }

  .body .welcome {
    height: 343px;
    margin-top: 596px;
  }

  .container .address-phone-email {
    margin-top: 19px;
    margin-left: 0;
  }

  .container .container {
    position: relative;
    z-index: 12;
    margin-left: 1.25893%;
  }

  .container .container-headings {
    width: 258.9564191182%;
    height: auto;
    margin-left: -11px;
  }

  .container .copyright {
    width: 240.613672764%;
    margin-top: 422px;
    text-align: center;
  }

  .container .footer-heading_contact {
    margin-top: 0;
    margin-left: 0;
  }

  .container .footer-heading_findoutmore {
    margin-left: -0.3588%;
  }

  .container .footer-nav {
    width: 98.5185185185%;
    margin-top: 17px;
    margin-left: 0.90278%;
  }

  .container .heading {
    float: none;
    width: 480px;
    height: 41px;
    margin-right: auto;
    margin-left: auto;
  }

  .container .icon-facebook {
    position: relative;
    z-index: 9;
    height: auto;
    margin-top: 95px;
    margin-left: -19.71429%;
  }

  .container .sponsor {
    position: relative;
    z-index: 21;
    width: 89.7196261682%;
    height: 176px;
    margin-top: 147px;
  }

  .container .sub-headings {
    float: none;
    clear: none;
    width: 480px;
    height: 16px;
    margin-right: auto;
    margin-left: auto;
  }

  .container .whats_happening-heading {
    position: relative;
    z-index: 21;
    width: 89.7196261682%;
    margin-top: 0;
    margin-left: 10.27483%;
  }

  .container-headings .heading {
    display: block;
    text-align: center;
  }

  .container-headings .sub-headings {
    display: block;
    text-align: center;
  }

  .footer-background {
    position: relative;
    z-index: 0;
    height: 475px;
    margin-top: 475px;
  }

  .footer-nav .footer-nav_contact,
  .footer-nav .footer-nav_functions,
  .footer-nav .footer-nav_home,
  .footer-nav .footer-nav_menu,
  .footer-nav .footer-nav_sportsbar {
    margin-left: -0.75188%;
  }

  .icons-food_drink .beer-glass {
    float: none;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  .icons-food_drink .fork-knife {
    top: 239px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .icons-food_drink .wine-glasses {
    float: none;
    margin-top: 257px;
    margin-right: auto;
    margin-left: auto;
  }

  .main-background {
    position: relative;
    z-index: 36;
    height: auto;
    margin-top: -1258px;
  }

  .month-year {
    position: relative;
    width: 38.7337239583%;
    height: 163px;
  }

  .month-year .event-month {
    margin-top: 135px;
    margin-left: -0.48744%;
  }

  .nav-contact .contact {
    margin-right: -20.27598%;
  }

  .placeholder {
    position: relative;
  }

  .social-media .icon-facebook {
    height: auto;
    margin-top: -1px;
    margin-right: 17px;
  }

  .text {
    position: relative;
  }

  .beer-glass .bar,
  .fork-knife .menu-1,
  .wine-glasses .functions {
    height: auto;
  }

  .body-1 {
    position: relative;
    z-index: 35;
    height: 1656px;
    margin-top: -110px;
  }

  .container-headings .heading-1 {
    width: 100%;
    height: 69px;
    margin-top: 28px;
  }

  .container-headings .sub-headings-1 {
    margin-top: 1px;
  }

  .month-year-1 {
    z-index: 64;
    margin-top: -417px;
    margin-left: 10.83008%;
  }

  .month-year-2 {
    clear: both;
    z-index: 67;
    margin-top: -461px;
    margin-left: 116.07422%;
  }

  .month-year-3 {
    z-index: 70;
    margin-top: -461px;
    margin-left: 202.99479%;
  }

  .placeholder-1 {
    z-index: 56;
    margin-top: 26px;
    margin-left: 10%;
  }

  .placeholder-2 {
    z-index: 57;
  }

  .placeholder-3 {
    z-index: 58;
    width: 20.3971354166%;
    margin-top: -461px;
    margin-left: 69.59635%;
  }

  .text-1 {
    z-index: 59;
    margin-left: 10%;
  }

  .text-2 {
    z-index: 60;
    margin-top: -163px;
    margin-left: 9.36849%;
  }

  .text-3 {
    z-index: 61;
    margin-top: -163px;
    margin-left: 9.3782599999%;
  }

  ._container .container-2 {
    position: relative;
    z-index: 18;
    margin-left: -0.03182%;
  }

  ._container .container-3 {
    position: relative;
    clear: both;
    z-index: 8;
    width: 32.8054298642%;
    height: 181px;
    margin-top: 30px;
    margin-left: 7.91502%;
  }

  ._container .container-4 {
    clear: none;
    width: 39.5927601809%;
    margin-top: 30px;
    margin-left: 12.66615%;
  }

  ._container .container-headings-1 {
    width: 100%;
    height: 110px;
    margin-top: 16px;
    margin-left: 0;
  }

  ._container .navigation-menu-1 {
    position: relative;
    float: none;
    clear: none;
    z-index: 47;
    width: 78.75%;
    margin-top: 246px;
    margin-right: auto;
    margin-left: auto;
  }

  ._container .phone-number-1 {
    position: relative;
    float: left;
    z-index: 53;
    margin-top: 22px;
    margin-right: 0;
    margin-left: 35.01628%;
  }

  ._container .social-media-1 {
    position: relative;
    float: left;
    clear: both;
    z-index: 52;
    margin-top: -156px;
    margin-left: 76.66667%;
  }

  ._container-2 {
    position: relative;
    z-index: 54;
    height: 288px;
    margin-top: -1546px;
  }

  ._container-3 {
    position: relative;
    clear: both;
    z-index: 19;
    width: 100%;
    height: 475px;
    margin-top: -475px;
    margin-left: 0;
    padding-top: 19px;
    padding-right: 19px;
    padding-bottom: 19px;
    padding-left: 19px;
  }
}